h1 { font-size: 3.5rem; }
h2 { font-size: 3.0rem; }
h3 { font-size: 2.5rem; }
h4 { font-size: 2.0rem; }
h5 { font-size: 1.5rem; }
h6 { font-size: 1.0rem; }

p { font-size: 1.5rem; }

#area {
    padding: 40px;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
}

#area #control {
    padding-right:20px;
}

.indent {
    margin-left: 20px;
} 

.btn {
    font-size: 1.0rem;
    cursor: pointer;
    display: inline-block;
}

.btn p {
    line-height: 1.8rem;
    font-size: 1.4rem;
}

#chg-sound span::before {
    content: "N";
}

#chg-sound.selected span::before {
    content: "Y";
}


.fish { margin-left: 30px; }

.ls-1 { letter-spacing: 1px; }
.ls-2 { letter-spacing: 0px; }
.ls-3 { letter-spacing: 3px; }
.ls-4 { letter-spacing: 4px; }
.ls-5 { letter-spacing: 5px; }
.ls-6 { letter-spacing: 6px; }
.ls-10 { letter-spacing: 10px; }

.selected span { text-decoration: underline; text-decoration-style: double; }